In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import time
from datetime import datetime
from pathlib import Path

In [3]:
path = Path(r"C:\Users\Mathiass\OneDrive - Universität Zürich UZH\Documents\mt_literature\data\VIX")

In [4]:
vix = pd.read_csv(path/"VIX_History.csv", parse_dates=["DATE"])

In [5]:
vix

           DATE   OPEN   HIGH    LOW  CLOSE
0    1990-01-02  17.24  17.24  17.24  17.24
1    1990-01-03  18.19  18.19  18.19  18.19
2    1990-01-04  19.22  19.22  19.22  19.22
3    1990-01-05  20.11  20.11  20.11  20.11
4    1990-01-08  20.26  20.26  20.26  20.26
...         ...    ...    ...    ...    ...
8171 2022-06-10  26.26  29.63  26.05  27.75
8172 2022-06-13  31.37  35.05  31.29  34.02
8173 2022-06-14  33.01  34.00  32.06  32.69
8174 2022-06-15  32.39  32.77  27.76  29.62
8175 2022-06-16  30.35  34.82  30.35  32.95

[8176 rows x 5 columns]

In [6]:
np.where(vix["DATE"].dt.month.diff() == 1)[0] - 1

array([  21,   40,   62,   82,  104,  125,  146,  169,  188,  211,  232,
        274,  293,  312,  334,  356,  376,  398,  420,  440,  463,  483,
        526,  545,  567,  588,  608,  630,  652,  673,  694,  716,  736,
        778,  797,  820,  841,  861,  883,  904,  926,  947,  968,  989,
       1032, 1051, 1074, 1093, 1114, 1136, 1156, 1179, 1200, 1221, 1242,
       1284, 1303, 1326, 1345, 1367, 1389, 1409, 1432, 1452, 1474, 1495,
       1537, 1557, 1578, 1599, 1621, 1641, 1663, 1685, 1705, 1728, 1748,
       1790, 1809, 1829, 1851, 1872, 1893, 1915, 1936, 1957, 1980, 1998,
       2040, 2059, 2081, 2102, 2122, 2144, 2166, 2187, 2208, 2230, 2250,
       2291, 2310, 2333, 2354, 2374, 2396, 2417, 2439, 2460, 2481, 2502,
       2543, 2563, 2586, 2605, 2627, 2649, 2669, 2692, 2712, 2734, 2755,
       2796, 2815, 2837, 2857, 2879, 2900, 2921, 2944, 2959, 2982, 3003,
       3044, 3063, 3083, 3105, 3127, 3147, 3169, 3191, 3211, 3234, 3254,
       3296, 3315, 3336, 3357, 3378, 3399, 3421, 3442, 3463, 3486, 3505,
       3547, 3566, 3589, 3610, 3630, 3652, 3673, 3695, 3716, 3737, 3758,
       3800, 3819, 3841, 3862, 3883, 3905, 3925, 3948, 3969, 3990, 4011,
       4052, 4071, 4094, 4113, 4134, 4156, 4176, 4199, 4219, 4241, 4262,
       4302, 4321, 4343, 4363, 4385, 4406, 4427, 4450, 4469, 4492, 4513,
       4554, 4574, 4594, 4616, 4637, 4658, 4680, 4701, 4722, 4745, 4764,
       4806, 4825, 4847, 4868, 4888, 4910, 4932, 4953, 4974, 4996, 5016,
       5057, 5076, 5099, 5120, 5140, 5162, 5183, 5205, 5226, 5247, 5268,
       5310, 5329, 5352, 5372, 5393, 5415, 5435, 5458, 5479, 5500, 5521,
       5562, 5582, 5604, 5624, 5646, 5667, 5688, 5711, 5730, 5751, 5772,
       5813, 5832, 5852, 5874, 5896, 5916, 5938, 5960, 5980, 6003, 6023,
       6065, 6084, 6105, 6126, 6147, 6168, 6190, 6211, 6232, 6255, 6274,
       6316, 6335, 6357, 6378, 6398, 6420, 6442, 6463, 6484, 6506, 6526,
       6567, 6587, 6609, 6630, 6651, 6673, 6693, 6716, 6737, 6758, 6779,
       6820, 6839, 6862, 6881, 6903, 6925, 6945, 6968, 6988, 7010, 7031,
       7072, 7091, 7112, 7133, 7155, 7176, 7197, 7220, 7239, 7262, 7283,
       7323, 7342, 7363, 7384, 7406, 7426, 7448, 7470, 7490, 7513, 7533,
       7575, 7594, 7616, 7637, 7657, 7679, 7701, 7722, 7743, 7765, 7785,
       7826, 7845, 7868, 7889, 7909, 7931, 7952, 7974, 7995, 8016, 8037,
       8079, 8098, 8121, 8141, 8163], dtype=int64)

In [34]:
from pandas.tseries.offsets import MonthEnd

In [40]:
test = vix.iloc[np.where(vix["DATE"].dt.month.diff() == 1)[0] - 1]

In [41]:
test = test.set_index("DATE")

In [42]:
test

             OPEN   HIGH    LOW  CLOSE
DATE
1990-01-31  25.36  25.36  25.36  25.36
1990-02-28  21.99  21.99  21.99  21.99
1990-03-30  19.73  19.73  19.73  19.73
1990-04-30  19.52  19.52  19.52  19.52
1990-05-31  17.37  17.37  17.37  17.37
...           ...    ...    ...    ...
2022-01-31  28.36  29.41  24.71  24.83
2022-02-28  32.44  33.51  28.43  30.15
2022-03-31  19.68  21.48  19.54  20.56
2022-04-29  28.97  34.34  28.54  33.40
2022-05-31  27.47  28.35  25.94  26.19

[357 rows x 4 columns]

In [43]:
test.index = test.index + MonthEnd(0)

In [45]:
test["CLOSE"]

DATE
1990-01-31    25.36
1990-02-28    21.99
1990-03-31    19.73
1990-04-30    19.52
1990-05-31    17.37
              ...
2022-01-31    24.83
2022-02-28    30.15
2022-03-31    20.56
2022-04-30    33.40
2022-05-31    26.19
Name: CLOSE, Length: 357, dtype: float64

In [ ]:
vix.iloc[:22]

In [61]:
vix.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
           dtype='int64', name='DATE', length=8176)

In [ ]:
path = r"C:\Users\Mathiass\Documents\Projects\master-thesis\logs\tune\transformer_loops\20220902144538\train2018_val2020"
path = Path(path)

In [ ]:
def del_transf_ckpt(loop_dir: Path):
    """Delete transformer model checkpoints after saving best, to not overload drive storage."""
    for file in loop_dir.iterdir():
        if file.is_dir():
#             print(file)
            del_ckpt(file) #recursion
        else:
            if file.name == "checkpoint":
                file.unlink()

In [ ]:
del_transf_ckpt(path)

In [ ]:
import decimal
value = decimal.Decimal("42.12345")
print(f'Result: {value:{"0.2f" if value < 100 else "8.3"}}')

In [ ]:
path = r"C:\Users\Mathiass\OneDrive - Universität Zürich UZH\Documents\mt_literature\data"

In [ ]:
s_time = time.time()
data = pd.read_parquet(path+"\sp500_op_ret.parquet")
e_time = time.time()

In [ ]:
print("Read without chunks: ", (e_time-s_time), "seconds")

In [ ]:
try:
    raise ZeroDivisionError
except ZeroDivisionError as err:
    try:
        raise ZeroDivisionError
    except:
        raise ZeroDivisionError("second error") from err
    print("yes")

In [ ]:
a = [1, 2, 3]

In [ ]:
def f(x, y, z):
    print(x + y + z)

In [ ]:
f(*a)

In [ ]:
a = datetime.now()

In [ ]:
b = datetime.now() - a

In [ ]:
t = b.total_seconds()

In [ ]:
t

In [ ]:
round(divmod(t, 60)[1], 2)

In [ ]:
dayss = 24 * 60 * 60

In [ ]:
days, rem = divmod(t, dayss)

In [ ]:
divmod(rem, 60)

In [ ]:
hourss = 60 * 60

In [ ]:
days

In [ ]:
hours, secs = divmod(rem, hourss)

In [ ]:
hours

In [ ]:
secs

In [ ]:
total_dict = {}

In [ ]:
total_dict

In [ ]:
pd.DataFrame.from_dict(total_dict).T

In [ ]:
data.describe()

In [ ]:
data

In [ ]:
len(data["secid"].unique())

In [ ]:
data3 = data.iloc[:, :2]

In [ ]:
data3.groupby("date").nunique().describe()

In [ ]:
data3["date"].nunique()

In [ ]:
list(data3["secid"].unique())

In [ ]:
data[data["secid"] == 101375]

In [ ]:

data3[data3["secid"] == 101375].nunique()["date"]

In [ ]:
# how many datapoints per time does each stock have?
ts_per_secid = []
unique_secid = data3["secid"].unique()

for i in unique_secid:
    unique_dates = data3[data3["secid"] == i].nunique()["date"]
    ts_per_secid.append((i, unique_dates))

In [ ]:
# number of stocks that have at least one entry in each date
df = pd.DataFrame(ts_per_secid)
len(df[df[1] == 311])

In [ ]:
list1 = list(df[0])

In [ ]:
# save number of stocks that have at least one entry in each date
secid_complete = df[df[1] == 311][0]

In [ ]:
# nr of unique stocks
len(list1)

In [ ]:
df

In [ ]:
secid_complete

In [ ]:
data[data["secid"].isin(secid_complete)].head(40).reset_index()

In [ ]:
data[data["secid"].isin(secid_complete)].tail(20).reset_index()

In [ ]:
data_complete = data[data["secid"].isin(secid_complete)].copy()

In [ ]:
# Set Call to 1, Put to 0
data_complete.loc[data_complete["cp_flag"] == "C", "cp_flag"] = 1
data_complete.loc[data_complete["cp_flag"] == "P", "cp_flag"] = 0
# Convert object type to int or date
data_complete["cp_flag"] = data_complete["cp_flag"].astype(int)
data_complete["date"] = pd.to_datetime(data_complete["date"])
data_complete["exdate"] = pd.to_datetime(data_complete["exdate"])

In [ ]:
data_complete.dtypes

In [ ]:
data_complete

In [ ]:
data_complete.groupby(["secid", "date"]).agg("mean")

In [ ]:
data_complete = data_complete.groupby(["secid", "date"]).agg("mean").sort_values("date").reset_index()

In [ ]:
data_complete

In [ ]:
(data_complete.groupby("date").agg("count") == 33).all().all()

In [ ]:
data_complete

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
10263 / 33

In [ ]:
data_complete = data_complete.groupby("date").agg("mean")

In [ ]:
# Data averaged over stocks and date (311 rows) -> for Time Series prediction
y = data_complete["option_ret"]
X = data_complete.drop(["option_ret", "secid", "optionid", "days_no_trading"], axis=1)

In [ ]:
from pandas.tseries.offsets import MonthEnd

In [ ]:
# All data (3825531 rows) -> for Cross-sectional analysis
# Set Call to 1, Put to 0
# data.loc[data["cp_flag"] == "C", "cp_flag"] = 1
# data.loc[data["cp_flag"] == "P", "cp_flag"] = 0
# Convert object type to int or date
# data["cp_flag"] = data["cp_flag"].astype(int)
data["date"] = pd.to_datetime(data["date"])
data["exdate"] = pd.to_datetime(data["exdate"])
# bring dates to end of month dates (in order to correctly merge with other datasets)
data["date"] = data["date"] + MonthEnd(0)
# split off y
data = data.drop(data[data["option_ret"].isnull()].index) # remove 138 NaN option returns
data = data.reset_index(drop=True)
y = data["option_ret"]
X = data.drop(["option_ret", "secid", "optionid", "days_no_trading", "date", "exdate"], axis=1)

In [ ]:
# # only use certain features?
# X = X[["cp_flag", "impl_volatility", "delta"]]

In [ ]:
# Load csv data
s_time = time.time()
mapping_table = pd.read_csv(path+"\mapping_table.csv")
e_time = time.time()
print("Read without chunks: ", (e_time-s_time), "seconds")

In [ ]:
mapping_table

In [ ]:
df = data.merge(mapping_table, on="secid")

In [ ]:
df

In [ ]:
# correct format important here, otherwise will see month as day and vice versa
df["sdate"] = pd.to_datetime(df["sdate"], format = "%d/%m/%Y %H:%M")
df["edate"] = pd.to_datetime(df["edate"], format = "%d/%m/%Y %H:%M")

In [ ]:
df_filter = df[(df["date"] >= df["sdate"]) & ((df["date"] <= df["edate"]) | (df["edate"] >= "2020-12-31"))]

In [ ]:
df_filter

In [ ]:
3818687

In [ ]:
data

In [ ]:
len(df_filter)

In [ ]:
len(data)

In [ ]:
# should have 3825393 rows (4 more than below)
data

In [ ]:
# should have 3825389 rows
df_filter

In [ ]:
a = set(data[["optionid", "date"]].itertuples(index=False, name=None))

In [ ]:
b = set(df_filter[["optionid", "date"]].itertuples(index=False, name=None))

In [ ]:
c = list(a - b)

In [ ]:
len(c)

In [ ]:
e = list(data["optionid"])

In [ ]:
f = list(df_filter["optionid"])

In [ ]:
d = list(set(e) - set(f))

In [ ]:
u = set([x[0] for x in c])

In [ ]:
z = set([x[0] for x in c]) - set(d)

In [ ]:
z

In [ ]:
len(d)

In [ ]:
data[data["optionid"].isin(u)][data[data["optionid"].isin(u)]["secid"] == 102362                   ]

In [ ]:
df_filter[df_filter["optionid"].isin(u)][df_filter[df_filter["optionid"].isin(u)]["secid"] == 102362 ]

In [ ]:
df_filter["edate"]

In [ ]:
# 4 observations are dropped because permno is ambiguous in the 94 char. feature list (Moodys spin off)
data[data["optionid"].isin(u)]["secid"].value_counts()

In [ ]:
data[data["optionid"].isin(d)]

In [ ]:
# Load PARQUET data (3sec instead of 38sec -> speedup of 10x)
s_time = time.time()
data2 = pd.read_parquet(path+"\Gu2020_datashare\datashare.parquet")
e_time = time.time()
print("Read without chunks: ", (e_time-s_time), "seconds")

In [ ]:
from pandas.tseries.offsets import MonthEnd

In [ ]:
# Lag features by -1 to align with option features
data2["DATE"] = pd.to_datetime(data2["DATE"].astype(str), format='%Y%m%d') - MonthEnd(1)

In [ ]:
data2

In [ ]:
data2[data2["permno"] == 48506]

In [ ]:
(data2.loc[data2["permno"] == 93429, "sic2"])

In [ ]:
# Manually insert SIC codes
data2.loc[data2["permno"] == 18312, "sic2"] = 28 #Moderna https://sec.report/CIK/0001682852
data2.loc[data2["permno"] == 18428, "sic2"] = 28 #Dow Inc https://sec.report/Ticker/DOW
data2.loc[data2["permno"] == 93429, "sic2"] = 62 #CBOE Global Markets https://sec.report/Ticker/CBOE
data2.loc[data2["permno"] == 18143, "sic2"] = 28 #Linde https://sec.report/CIK/0001707925
data2.loc[data2["permno"] == 19285, "sic2"] = 35 #Carrier Global Corp https://sec.report/Ticker/CARR
data2.loc[data2["permno"] == 18592, "sic2"] = 1 #Corteva https://sec.report/CIK/0001755672
data2.loc[data2["permno"] == 17942, "sic2"] = 20 #Keurig Dr Pepper https://sec.report/Ticker/kdp
data2.loc[data2["permno"] == 18420, "sic2"] = 48 #FOX Corp https://sec.report/Ticker/foxa
data2.loc[data2["permno"] == 20057, "sic2"] = 28 #Viatris https://sec.report/Ticker/foxa
data2.loc[data2["permno"] == 15850, "sic2"] = 72 #Match Group https://sec.report/Ticker/mtch
data2.loc[data2["permno"] == 32791, "sic2"] = 35 #Weatherford https://sec.report/Ticker/wft
data2.loc[data2["permno"] == 19286, "sic2"] = 36 #OTIS https://sec.report/Ticker/OTIS
data2.loc[data2["permno"] == 17700, "sic2"] = 73 #Ceridian https://sec.report/Ticker/CDAY
data2.loc[data2["permno"] == 18724, "sic2"] = 39 #Amcor https://sec.report/Ticker/AMCR
data2.loc[data2["permno"] == 38850, "sic2"] = 24 #Skyline https://sec.report/Ticker/sky
data2.loc[data2["permno"] == 19807, "sic2"] = 38 #Vontier https://sec.report/Ticker/VNT
data2.loc[data2["permno"] == 78840, "sic2"] = 48 #IAC Interactive Corp ->sp500 const. list
# ----
data2.loc[data2["permno"] == 81594, "sic2"] = 13 #Dynegy, only 8 were NaN, rest was =13
data2.loc[data2["permno"] == 88601, "sic2"] = 49 #Mirant, first 4 were NaN, rest =49
data2.loc[data2["permno"] == 80913, "sic2"] = 73 #ACS, last month NaN, rest =73
data2.loc[data2["permno"] == 44652, "sic2"] = 54 #American Stores Company, last month NaN, rest =54
data2.loc[data2["permno"] == 76563, "sic2"] = 54 #Meyer Fred Inc., last month NaN, rest =54

In [ ]:
data2

In [ ]:
# Our data starts at 1996-01-31
df = data2[data2["DATE"] > "1995-12-31"]
df = df.reset_index()
df = df.rename(columns={"DATE": "date"})

In [ ]:
# unique set of dates to loop over and take mean/median of all stocks in that month
date_unique = list(df["date"].unique())

In [ ]:
# FILL MISSING VALUES. COMMENT THIS OUT FOR ORIGINAL DF_FINAL.PARQUET. loop over each date and fill NA
from tqdm import tqdm
for i in tqdm(date_unique):
    df[df["date"] == i] = df[df["date"] == i].fillna(df[df["date"] == i].mean())

In [ ]:
df.loc[6419, :]

In [ ]:
# % missing values in stock characteristics?
np.sum(np.sum(df.isnull())) / (df.shape[0] * df.shape[1])

In [ ]:
df[df["date"] == date_unique[0]].mean(axis=0, numeric_only=True)

In [ ]:
df[df["date"] == date_unique[0]]["beta"][655]

In [ ]:
# Check what should be inserted by for loop
df[df["date"] == date_unique[0]].fillna(df[df["date"] == date_unique[0]].mean(axis=0, numeric_only=False))["beta"][655]

In [ ]:
# Check what should be inserted by for loop
df[df["date"] == date_unique[0]]["std_turn"].mean()

In [ ]:
0.9909510930939289

In [ ]:
df["permno"].nunique()

In [ ]:
df_filter

In [ ]:
# final dataset "INNER" -> REMOVE VALUES THAT HAVE NO 94 CHARACTERISTICS, "left" -> how to impute?
final_df = df_filter.merge(df, on=["date", "permno"], how="inner")

In [ ]:
final_df["permno"].nunique()

In [ ]:
final_df["secid"].nunique()

In [ ]:
final_df[final_df["permno"] == 56266]

In [ ]:
final_df

In [ ]:
permno_unique = list(final_df["permno"].unique())

In [ ]:
permno_unique

In [ ]:
final_df.loc[final_df["permno"] == 56266, "chatoia"]

In [ ]:
np.sum(final_df.loc[final_df["permno"] == 56266, :].isnull()).sort_values()[-30:]

In [ ]:
# Put option returns at the end
opt_ret = final_df.pop("option_ret")
final_df["option_ret"] = opt_ret

In [ ]:
# final_df.to_csv("final")

In [ ]:
# -> How to save this table so that one can efficiently get it back? feather? pickle?

In [ ]:
df_filter

In [ ]:
final_df

In [ ]:
# how many rows got remove from the inner joing
len(df_filter) - len(final_df)

In [ ]:
# How many "sic2" NaNs per "secid"
final_df[final_df["sic2"].isnull()]["secid"].value_counts()

In [ ]:
# SAVE FINAL DF TO PARQUET

# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# from sklearn.compose import make_column_transformer

# onehotencoder = make_column_transformer((OneHotEncoder(), ["cp_flag", "sic2"]), remainder="drop")
# transformed = onehotencoder.fit_transform(final_df)
# transformed_df = pd.DataFrame(transformed.toarray(), columns=onehotencoder.transformers_[0][1].get_feature_names_out(["cp_flag", "sic2"]))

# # drop old columns cp_flag, sic2
# final_df = final_df.drop(["cp_flag", "sic2"], axis=1)

# # concatenate both dataframes (memory intensive?)
# final_df = pd.concat([final_df, transformed_df], axis=1)

# # sort values by date! (secondly by secid -> but better to shuffle within date later)
# final_df = final_df.sort_values(["date", "secid"]).reset_index(drop=True)

# # remove useless columns for dataanalsis
# final_df = final_df.drop(["secid", "optionid", "exdate", "sdate", "edate", "permno", "index"], axis=1)

# # to parquet (no r -> doesnt work somehow, \f gets transformed to \x0c)
# final_df.to_parquet(fr"{path}\final_df_filledmean.parquet")

In [ ]:
# Load final file
final_df = pd.read_parquet(path+"final_df_filledmean.parquet")

In [ ]:
final_df["option_ret"]

In [ ]:
121 + 65

In [ ]:
# sic2 = final_df["sic2"]

In [ ]:
# sic2.nunique()

In [ ]:
# final_df[["sic2"]]

In [ ]:
# encoder_df = pd.DataFrame(encoder.fit_transform(final_df[["sic2"]]))

In [ ]:
# final_df

In [ ]:
data

In [ ]:
final_df

In [ ]:
3823386

### Idea:

- classification vs. regression. -> use of SVM/SVR as additional models
- classif: prediction of up/neutral/down (+1/0/-1) ?
- add sentiment columns to each option? -> sentiment analysis of past stock price history

##### Notes
- Get more Data?: Generate samples with generative models? (diffusion models)?
- Fully Convolutional / Convolutional Nets for varying input size per point in time? or for additional feature for each row
- Use underlying stock/ option time series as additional column features? But what about missing history?