In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
path = Path(r"C:\Users\Mathiass\Documents\Projects\master-thesis\data")

In [3]:
orig_data = pd.read_parquet(path/"sp500_op_ret.parquet")

In [4]:
orig_data

,secid,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,...,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
0,5015,1996-01-31 00:00:00,1996-07-20 00:00:00,C,20.0,4.625,5.000,15,25,0.380062,...,10980421,1,0,171,24.142672,24.000,24.0000,0.052253,4.8125,-0.025367
1,5048,1996-01-31 00:00:00,1996-08-17 00:00:00,P,40.0,3.000,3.375,5,37,0.245716,...,11613022,1,0,199,39.344930,39.000,39.0000,0.051780,3.1875,0.002347
2,5049,1996-01-31 00:00:00,1996-05-18 00:00:00,C,65.0,5.875,6.375,4,420,0.167298,...,11618802,1,0,108,70.168661,70.375,35.1875,0.053274,6.1250,-0.009721
3,5049,1996-01-31 00:00:00,1996-08-17 00:00:00,C,70.0,3.250,3.625,13,3806,0.149214,...,11770703,1,0,199,70.393348,70.375,35.1875,0.051780,3.4375,0.001186
4,5061,1996-01-31 00:00:00,1996-06-22 00:00:00,C,30.0,3.375,3.750,5,254,0.324523,...,10914516,1,0,143,32.001209,31.750,31.7500,0.052726,3.5625,-0.006649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3825526,214905,2021-11-30 00:00:00,2022-07-15 00:00:00,C,13.0,1.150,1.500,134,665,0.437066,...,143779767,1,0,227,12.112223,12.310,12.3100,0.002822,1.3250,-0.068384
3825527,214905,2021-11-30 00:00:00,2022-07-15 00:00:00,C,15.0,0.100,0.750,5,14,0.335686,...,143779769,1,0,227,12.112223,12.310,12.3100,0.002822,0.4250,0.055073
3825528,214905,2021-11-30 00:00:00,2022-07-15 00:00:00,P,11.0,0.200,1.100,3,111,0.308935,...,143779782,1,0,227,12.112223,12.310,12.3100,0.002822,0.6500,0.020419
3825529,214905,2021-11-30 00:00:00,2022-07-15 00:00:00,P,12.0,1.100,1.600,53,35,0.372075,...,143779783,1,0,227,12.112223,12.310,12.3100,0.002822,1.3500,-0.016824
3825530,214905,2021-11-30 00:00:00,2022-07-15 00:00:00,P,13.0,1.850,2.550,50,1002,0.438164,...,143779784,1,0,227,12.112223,12.310,12.3100,0.002822,2.2000,-0.063653

In [5]:
orig_data.columns

Index(['secid', 'date', 'exdate', 'cp_flag', 'strike_price', 'best_bid',
       'best_offer', 'volume', 'open_interest', 'impl_volatility', 'delta',
       'gamma', 'vega', 'theta', 'optionid', 'cfadj', 'days_no_trading',
       'days_to_exp', 'forwardprice', 'spotprice', 'adj_spot', 'ir_rate',
       'mid_price', 'option_ret'],
      dtype='object')

In [6]:
orig_data.describe()

,secid,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,...,optionid,cfadj,days_no_trading,days_to_exp,forwardprice,spotprice,adj_spot,ir_rate,mid_price,option_ret
count,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,...,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825531e+06,3.825393e+06
mean,1.118091e+05,1.583552e+02,1.048743e+01,1.099611e+01,8.288530e+01,1.758055e+03,3.903697e-01,1.159395e-01,3.800090e-02,2.467463e+01,...,8.287611e+07,1.053916e+00,2.337976e-03,1.257383e+02,1.615546e+02,1.612870e+02,2.160093e+02,1.801193e-02,1.074177e+01,7.061732e-02
std,1.956878e+04,3.534783e+02,3.874286e+01,3.929525e+01,5.716760e+02,5.857573e+03,2.047089e-01,4.807320e-01,4.315247e-02,6.098045e+01,...,4.649504e+07,5.263510e-01,5.339109e-02,8.291730e+01,3.528938e+02,3.521467e+02,4.140947e+03,1.915548e-02,3.901709e+01,4.627202e+01
min,5.015000e+03,5.000000e-01,1.000000e-02,7.000000e-02,1.000000e+00,1.000000e+00,1.114700e-02,-9.996790e-01,0.000000e+00,4.900000e-04,...,1.000001e+07,1.000000e+00,0.000000e+00,2.800000e+01,5.000000e-05,1.500000e-01,1.171875e-01,8.914000e-04,4.000000e-02,-1.601024e+04
25%,1.034340e+05,3.700000e+01,1.150000e+00,1.350000e+00,3.000000e+00,6.800000e+01,2.594700e-01,-2.718040e-01,1.047900e-02,5.147422e+00,...,3.264821e+07,1.000000e+00,0.000000e+00,5.000000e+01,3.757191e+01,3.754000e+01,3.197000e+01,2.672931e-03,1.250000e+00,-3.809121e-02
50%,1.073980e+05,6.500000e+01,2.900000e+00,3.200000e+00,1.100000e+01,3.160000e+02,3.396460e-01,1.604910e-01,2.637400e-02,9.966705e+00,...,1.033082e+08,1.000000e+00,0.000000e+00,1.090000e+02,6.498800e+01,6.486000e+01,5.673000e+01,1.074308e-02,3.050000e+00,-1.026760e-02
75%,1.116520e+05,1.290000e+02,7.400000e+00,7.900000e+00,4.000000e+01,1.264000e+03,4.580080e-01,5.068830e-01,5.078000e-02,2.019212e+01,...,1.240800e+08,1.000000e+00,0.000000e+00,1.730000e+02,1.312548e+02,1.311500e+02,1.174850e+02,2.571517e-02,7.650000e+00,1.373601e-02
max,2.149050e+05,5.500000e+03,2.692950e+03,2.707550e+03,2.561690e+05,7.795400e+05,2.998749e+00,1.000030e+00,2.643942e+00,1.354885e+03,...,1.439230e+08,5.000000e+01,2.000000e+00,3.590000e+02,3.516114e+03,3.507070e+03,4.390544e+05,7.199510e-02,2.700250e+03,7.425289e+04

In [7]:
max(orig_data["days_no_trading"])

2

In [8]:
sum(orig_data["days_no_trading"] == 2)

991

In [9]:
min(orig_data["best_offer"] - orig_data["best_bid"])

0.05000000000000002

In [10]:
min(orig_data["volume"])

1

### Secid data

In [11]:
secid = pd.read_csv(r"C:\Users\Mathiass\OneDrive - Universität Zürich UZH\Documents\mt_literature\data\secid.csv", index_col=0)

In [12]:
secid

         secid   optionid
0         5036   11727792
1         5048   10572326
2         5056   11487792
3         5061   10914516
4         5061   11538245
...        ...        ...
766519  214905  137019848
766520  214905  140449433
766521  214905  142020575
766522  214905  142020577
766523  214905  142020578

[766524 rows x 2 columns]

### # of unique stocks in the dataset

In [13]:
len(set(list(secid["secid"])))

1173

### # of unique options in the dataset

In [14]:
len(set(list(secid["optionid"])))

331527

In [15]:
secid["optionid"].nunique()

331527

###  small dataset

In [16]:
small_data = pd.read_parquet(path/"final_df_call_cao_small.parquet")

In [17]:
# small_data = small_data[small_data["option_ret"] > -0.5]

In [18]:
small_data

,date,moneyness,ba_spread_option,volume,open_interest,impl_volatility,delta,gamma,vega,theta,days_to_exp,mid_price,option_ret
0,1996-01-31,1.081081,0.160000,4,96,0.185437,0.315673,0.028479,0.238400,-0.064215,0.468493,1.4375,-0.028955
1,1996-01-31,1.025641,0.137931,23,134,0.244550,0.464967,0.030342,0.213110,-0.113202,0.295890,1.6875,-0.011522
2,1996-01-31,1.142857,0.250000,10,3830,0.453317,0.345315,0.014950,0.197803,-0.169347,0.295890,0.4375,0.130158
3,1996-01-31,0.944882,0.100000,5,254,0.324523,0.657941,0.018036,0.225074,-0.123758,0.391781,3.5625,0.008158
4,1996-01-31,0.944882,0.085714,2,4,0.312125,0.650623,0.014612,0.288712,-0.097742,0.641096,4.1875,-0.005763
...,...,...,...,...,...,...,...,...,...,...,...,...,...
766519,2021-10-31,0.936330,0.111111,30,5642,0.343540,0.672280,0.023547,0.170486,-0.139916,0.230137,1.2750,-0.012879
766520,2021-10-31,1.048689,0.166667,39,3039,0.336500,0.393872,0.023889,0.183325,-0.135840,0.230137,0.5500,-0.012664
766521,2021-10-31,0.898876,0.097561,83,349,0.374323,0.691910,0.014517,0.226750,-0.102782,0.457534,1.9500,-0.043857
766522,2021-10-31,1.048689,0.285714,12,1919,0.348393,0.441325,0.017001,0.263165,-0.103916,0.457534,0.9000,-0.021832
766523,2021-10-31,1.123596,0.153846,4,602,0.349050,0.329124,0.015487,0.241932,-0.094904,0.457534,0.6000,-0.030916

### Summary Statistics Table 1

In [19]:
small_data["days_to_exp"] = small_data["days_to_exp"] * 365

In [20]:
small_data = small_data[["ba_spread_option", "moneyness", "impl_volatility", "delta", "days_to_exp", "option_ret"]]

In [21]:
small_data.describe([0.1, 0.25, 0.75, 0.9]).T.iloc[:, 1:]

,mean,std,min,10%,25%,50%,75%,90%,max
ba_spread_option,0.091754,0.103934,0.000787,0.019687,0.032787,0.058824,0.108108,0.200000,0.996296
moneyness,1.071438,0.221463,0.012602,0.872274,0.967889,1.048532,1.143368,1.279136,23.916293
impl_volatility,0.371724,0.182217,0.013138,0.202107,0.251836,0.326909,0.436513,0.596994,2.930194
delta,0.465496,0.221033,0.002544,0.176520,0.296927,0.455947,0.619540,0.776821,0.999956
days_to_exp,164.365622,73.945866,74.000000,79.000000,108.000000,143.000000,204.000000,267.000000,358.000000
option_ret,-0.001931,0.137132,-46.160174,-0.050483,-0.010827,0.008719,0.027526,0.054506,5.475154

In [22]:
np.round(small_data.describe([0.1, 0.25, 0.75, 0.9]).T.iloc[:, 1:], 2)

,mean,std,min,10%,25%,50%,75%,90%,max
ba_spread_option,0.09,0.10,0.00,0.02,0.03,0.06,0.11,0.20,1.00
moneyness,1.07,0.22,0.01,0.87,0.97,1.05,1.14,1.28,23.92
impl_volatility,0.37,0.18,0.01,0.20,0.25,0.33,0.44,0.60,2.93
delta,0.47,0.22,0.00,0.18,0.30,0.46,0.62,0.78,1.00
days_to_exp,164.37,73.95,74.00,79.00,108.00,143.00,204.00,267.00,358.00
option_ret,-0.00,0.14,-46.16,-0.05,-0.01,0.01,0.03,0.05,5.48

In [23]:
np.round(small_data.skew(), 2)

ba_spread_option      3.36
moneyness             5.43
impl_volatility       2.20
delta                 0.20
days_to_exp           0.85
option_ret         -122.98
dtype: float64

In [24]:
round(small_data.kurt(),3)

ba_spread_option       15.625
moneyness             222.213
impl_volatility         9.339
delta                  -0.655
days_to_exp             0.002
option_ret          33711.010
dtype: float64

In [25]:
np.round(small_data["option_ret"].sort_values(ascending=False).iloc[:15] * 100, 2)

629508    547.52
698823    378.68
630235    319.07
630236    303.10
630237    273.29
260537    272.71
630238    264.91
260536    259.87
643211    256.62
639594    254.96
260535    234.76
103915    206.05
708966    199.61
565343    196.12
623836    190.40
Name: option_ret, dtype: float64

In [26]:
np.round(small_data["option_ret"].sort_values(ascending=True).iloc[:15] * 100, 2)

690876   -4616.02
690875   -3988.93
690874   -3287.93
690873   -2550.98
690872   -2383.91
690871   -1717.25
282698   -1309.01
282699   -1084.29
282697    -717.15
687041    -701.10
107196    -589.27
255602    -588.02
648320    -541.39
53532     -498.61
679650    -454.27
Name: option_ret, dtype: float64

### Medium dataset

In [27]:
med_data = pd.read_parquet(path/"final_df_call_cao_med_fillmean.parquet")

In [28]:
med_data

,date,moneyness,ba_spread_option,volume,open_interest,impl_volatility,delta,gamma,vega,theta,...,stdcf,ms,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,option_ret
0,1996-01-31,1.081081,0.160000,4,96,0.185437,0.315673,0.028479,0.238400,-0.064215,...,0.057392,4.000000,0.020109,3.122241e-10,0.039301,0.016970,0.461914,0.397360,7.805255e-08,-0.028955
1,1996-01-31,1.025641,0.137931,23,134,0.244550,0.464967,0.030342,0.213110,-0.113202,...,0.057811,7.000000,0.026881,7.656053e-10,0.027027,0.017382,0.696602,2.063785,2.544126e-08,-0.011522
2,1996-01-31,1.142857,0.250000,10,3830,0.453317,0.345315,0.014950,0.197803,-0.169347,...,0.106807,2.000000,0.029551,6.512772e-09,0.045455,0.018437,0.523346,1.127684,4.273561e-08,0.130158
3,1996-01-31,0.944882,0.100000,5,254,0.324523,0.657941,0.018036,0.225074,-0.123758,...,0.067213,1.000000,0.031521,2.228776e-09,0.058333,0.023701,0.484697,3.113554,1.334856e-08,0.008158
4,1996-01-31,0.944882,0.085714,2,4,0.312125,0.650623,0.014612,0.288712,-0.097742,...,0.067213,1.000000,0.031521,2.228776e-09,0.058333,0.023701,0.484697,3.113554,1.334856e-08,-0.005763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766519,2021-10-31,0.936330,0.111111,30,5642,0.343540,0.672280,0.023547,0.170486,-0.139916,...,91.447659,3.889418,0.021151,9.461905e-11,0.030951,0.013068,0.337731,2.048596,1.717506e-08,-0.012879
766520,2021-10-31,1.048689,0.166667,39,3039,0.336500,0.393872,0.023889,0.183325,-0.135840,...,91.447659,3.889418,0.021151,9.461905e-11,0.030951,0.013068,0.337731,2.048596,1.717506e-08,-0.012664
766521,2021-10-31,0.898876,0.097561,83,349,0.374323,0.691910,0.014517,0.226750,-0.102782,...,91.447659,3.889418,0.021151,9.461905e-11,0.030951,0.013068,0.337731,2.048596,1.717506e-08,-0.043857
766522,2021-10-31,1.048689,0.285714,12,1919,0.348393,0.441325,0.017001,0.263165,-0.103916,...,91.447659,3.889418,0.021151,9.461905e-11,0.030951,0.013068,0.337731,2.048596,1.717506e-08,-0.021832
766523,2021-10-31,1.123596,0.153846,4,602,0.349050,0.329124,0.015487,0.241932,-0.094904,...,91.447659,3.889418,0.021151,9.461905e-11,0.030951,0.013068,0.337731,2.048596,1.717506e-08,-0.030916

### Gu dataset

In [29]:
gu_data = pd.read_parquet(Path(r"C:\Users\Mathiass\OneDrive - Universität Zürich UZH\Documents\mt_literature\data\Gu2020_datashare")/"datashare.parquet")

In [30]:
gu_data.iloc[:, 1:]

,DATE,mvel1,beta,betasq,chmom,dolvol,idiovol,indmom,mom1m,mom6m,...,stdcf,ms,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2
0,19570131,8.224900e+04,1.122846,1.260784,0.047180,9.569953,0.025742,0.046433,0.044843,-0.059517,...,NaN,NaN,0.013234,9.411565e-08,0.015453,0.008058,0.355638,0.460420,1.120996e-07,37.0
1,19570131,3.903375e+03,0.426734,0.182102,-0.275641,6.237836,0.072103,0.046433,-0.086957,-0.115385,...,NaN,NaN,0.033305,6.610609e-06,0.047619,0.033495,1.152126,1.169610,9.229146e-08,NaN
2,19570131,9.273250e+03,1.066449,1.137313,-0.025490,7.008844,0.027648,0.046433,-0.060377,-0.039550,...,NaN,NaN,0.016023,2.286832e-06,0.020833,0.015589,0.815777,0.679803,1.181757e-07,NaN
3,19570131,5.446588e+04,0.926038,0.857547,0.018171,9.825337,0.021700,0.046433,0.044633,0.050470,...,NaN,NaN,0.015295,1.464273e-07,0.039326,0.015849,0.739302,1.333656,6.126699e-08,NaN
4,19570131,4.025000e+04,1.247748,1.556875,0.025785,7.901007,0.025506,0.046433,0.086667,0.055247,...,NaN,NaN,0.005954,1.380375e-06,0.056856,0.019945,0.755510,0.410391,3.315790e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4117295,20211231,3.144398e+06,1.923076,3.698221,-0.673385,16.305232,0.062619,0.491455,-0.110868,-0.094651,...,0.960494,3.0,0.043829,3.698841e-10,0.073435,0.029678,0.399725,9.215947,5.031856e-09,79.0
4117296,20211231,4.326610e+05,1.224523,1.499457,-0.061462,12.419552,0.033723,0.346308,0.007040,0.045706,...,0.050973,6.0,0.025875,1.097624e-08,0.046055,0.019302,0.481331,1.649750,3.023395e-08,36.0
4117297,20211231,4.092710e+06,0.887083,0.786917,-0.080295,14.884834,0.045395,0.346308,0.151667,0.070353,...,0.052512,6.0,0.029966,8.593845e-10,0.131563,0.032861,0.440057,2.444487,2.224496e-08,36.0
4117298,20211231,1.130478e+05,0.512942,0.263110,-0.543760,12.243872,0.088124,0.270005,-0.319347,0.205056,...,0.556876,2.0,0.069943,1.145228e-07,0.036932,0.035858,0.968425,4.557546,3.155353e-08,1.0
4117299,20211231,1.149642e+09,1.504264,2.262812,0.729456,18.992410,0.081092,0.223504,0.027612,0.781773,...,0.181713,6.0,0.056249,9.679103e-13,0.084910,0.044202,0.381912,11.699841,3.240135e-09,37.0